*,
*::before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6; /*расстояние между строками*/
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    border: 0;
    background-color: #e5e5e5;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* выравнивание по центру */
}


/* Header */

.header{
    padding-top: 30px;

    width: 100%;

    position: absolute; /* перемещение относительно данного блока*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* как раз таки расположит поверх всех элементов привязывается к значению z */
}

.header__inner {
    display: flex; /*дает возможность гибко распределять контент*/
    justify-content: space-between; /*разделит блоки по разные стороны лого и навигация */
    align-items: center; /*выровняют лого и навигацию по горизонтали между собой*/
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}



/* Nav */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block; /*чтобы были блоками но шли в строку*/
    vertical-align: top; /*элемент прижимался к верху*/
    position: relative; /*если правильно понимаю то relative нужен для того чтобы корректировать absolute в этом блоке*/
    margin: 0 15px;

    color: #fff;
    text-decoration: none; /*подчеркивание у ссылок убрать*/

    transition: color .2s linear ;
}


.nav__link:hover {
    color: #fce38a;
}

.nav__link:after {
    display: block; /*чтобы ничего кроме этого блока не было*/
    content: ""; /*пустой контент чтобы образовать элемент*/
    width: 100%; /*расстянется относитеьно надписи на которую наведем*/
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute; /*перемещение относительно данного блока*/
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s linear;
}

.nav__link:hover:after {
    opacity: 1;
}


/* Intro */

.intro {
    display: flex;/*дает возможность гибко распределять контент*/
    flex-direction: column;/*благодаря флекс можем сделать блоки колонками*/
    justify-content: center; /*выравниет конент по центру*/

    width: 100%;
    height: 100vh;/*высота блока будет равно высоте экрана пользователя*/

    background: url(../MoGo/img/intro.jpg) center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__suptitle {
    margin-bottom: 20px;

    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 700;
    color: #fff;
  
}

.intro__title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;/*расстояние между строками*/
    color: #fff;
}

.intro__title:after {
    margin: 60px auto;

    display: block; /*чтобы ничего кроме этого блока не было*/
    content: ""; /*пустой контент чтобы образовать элемент*/
    width: 60px;
    height: 3px;

    background-color: #fff;
}


/* Button */

.btn {
    display: inline-block; /*чтобы были блоками но шли в строку*/
    vertical-align: top; /*элемент прижимался к верху*/
    padding: 8px 30px;/*отступы внутри кнопки*/

    border: 3px #fff solid; /*рамка*/
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    color: #fff;

    transition: color .2s linear, bacground .2s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}


/* Slider */

.slider {
   width: 100%;

   position: absolute; /* перемещение относительно данного блока*/
   bottom: 0; /*прижать к низу*/
   left: 0;
   z-index: 1;
}

.slider__inner {
    display: flex; /*дает возможность гибко распределять контент*/
    justify-content: space-between; /*разделит блоки появится расстояние*/
}

.slider__item {
    width: 23%;

    padding: 20px 0;

    border-top: 3px solid #fff;

    font-size: 18px;
    color: #fff;
    opacity: .7;

    text-transform: uppercase;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}


/* Section */

.section {
    padding: 80px 0;
}

.section--devices {
    padding-bottom: 0;
    background: url(../MoGo/img/devices-bg.jpg) center no-repeat;
    background-size: cover;
} /*модификатор для секции чтобы добавить фон на девайсах*/

.section--gray {
    background-color: #f8f8f8;
}

.section--clients {
    background: url(img/clients-bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px; /*вырвнивание блока по центру с отступом внизу*/

    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;

    text-transform: uppercase;
}

.section__title:after {
    display: block; /*чтобы ничего кроме этого блока не было*/
    content: ""; /*пустой контент чтобы образовать элемент*/
    width: 60px;
    height: 3px;

    margin: 30px auto;

    background-color: #f38181;
}

.section__text {
    font-size: 15px;
    color: #999;
}


/* Card */

.card {
    margin-top: 80px;

    display: flex; /*дает возможность гибко распределять контент*/
    justify-content: space-between; /*разделит блоки на равное расстояние */
}

.card__inner {
    position: relative; /*чтобы работал position: absolute; в .card__text*/

    background-color: #95e1d3;
}

.card__item {
    width: 380px;
}

.card__item:hover .card__img {
    transform: translate3d(-10px, -10px, 0); /*смещение картнки вверх влево */
}

.card__item:hover .card__img img {
    opacity: .1;
} /*даный блок при наводе на него снижает прозрачность картинки до 10%*/

.card__item:hover .card__text {
    opacity: 1; 
} /*даный блок выводит текст при наводе*/

.card__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);/*создаеи градиет свеху вниз запись*/

    transition: transform .2s linear; /*плавность анимации для смещения картинки*/
}

.card__img img {
    display: block;
    transition: opacity .2s linear;
}

.card__text {
    width: 100%;

    font-size: 18px;
    font-weight: 700;
    color: #fff;

    text-transform: uppercase;
    text-align: center;
    opacity: 0;

    position: absolute; /* перемещение относительно данного блока*/
    top: 50%;
    left: 0;
    z-index: 2;

    transform: translate3d(0, -50%, 0); /*выравнивает текст по центру*/

    transition: opacity .2s linear; /*плавность анимации прозрачности*/
}

.card__info {
    margin-top: 20px;

    text-align: center;
}

.card__name {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.card__prof {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}


/* Statistic */

.statistic {
    background: #95e1d3;
}

.stat {
    display: flex; /*гибкая настройка блоков*/
}

.stat__item {
    flex: 1 1 0; /*выравнивание эелментов чтобы все были одной ширины*/
    padding: 70px 25px;

    border-left: 1px #b5eae0 solid; /*границы у элементов слева*/

    text-align: center;
    color: #fff;
}

.stat__item:last-child {
    border-right: 1px #b5eae0 solid;
} /*граница у последнего элемента справа*/

.stat__num {
    margin-bottom: 10px;

    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}


/* Services */

.services {
    display: flex; /*гибкая настройка блоков*/
}

.services__item {
    flex: 1 1 0;/*выравнивание эелментов чтобы все были одной ширины*/
    padding-left: 85px;
    padding-right: 35px;

    position: relative; /*чтобы работал position: absolute;*/
}

.services__icon {
    position: absolute; /* перемещение относительно данного блока*/
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-size: 15px;
    color: #999;
}

/* Devices */

.devices {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.devices__item {
    display: block; /*чтобы фотки были блоками*/
}

.devices__item--iphone {
    position: absolute; /*гибко расположить айфон*/
    bottom: -80px;
    right: 0;
    z-index: 1;
}



/* We do */

.wedo {
    display: flex;
}

.wedo__item {
    flex: 1 1 0;
}


/* Accordion */

.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}

.accordion__item.active .accordion__content {
    display: block;
} /*раскрывающийся контент*/

.accordion__item.active .accordion__header:after {
    transform: translateY(-50%) rotate(-45deg); /*после раскрытия блока стрелка перевернется вниз*/
    margin-top: 5px;
}

.accordion__header {
    padding: 15px 20px 15px 65px;
    border-bottom: 1px solid #e5e5e5;

    position: relative;

    cursor: pointer;
}

.accordion__header:after {
    content: "";
    display: block;

    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    top: 50%;
    right: 20px;
    z-index: 1;
    position: absolute;
    transform: translateY(-50%) rotate(135deg); /*пока блок закрыт стрелка вверх*/
}/*  блок со стрелкой */

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.accordion__content {
    padding: 15px 20px;
    
    display: none;

    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}


/* Reviews */

.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews__item {
    padding-left: 255px;
    position: relative;
}

.reviews__photo {
    border: 2px solid #95e1d3;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}

.reviews__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;

    background-color: #f38181;
}

.reviews__btn {
    font-size: 0;
    color: transparent;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__btn:after {
    content: "";
    display: block;

    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.reviews__btn--prev {
    left: 0;
    transform: rotate(-45deg);
}


.reviews__btn--next {
    right: 0;
    transform: rotate(135deg);
}


/* Social */

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 55px;
    height: 55px;
    padding: 12px 10px;

    background-color: #fce38a;
    border-right: 1px solid #f38181;

    font-size: 30px;
    text-decoration: none;
    color: #f38181;
    line-height: 1;

    transition: background .2s linear, color .2s linear;
}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    color: #fff;
    background-color: #f38181;
}


/* Logos */

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center; /*выровняют по центру логотипы*/
}


/* Works */

.works {
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;

    background: linear-gradient(to bottom, #f38181, #fce38a);/*создаеи градиет свеху вниз запись*/
}

.works__item:hover .works__img {
    opacity: .1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__img {
    display: block;
    max-width: 100%;
    height: auto;

    transition: opacity .2s linear;
}

.works__info {
    padding: 0 15px;
    width: 100%;

    text-align: center;
    color: #fff;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);
}

.works__title {
    margin-bottom: 15px;

    font-size: 14px;
    text-transform: uppercase;
}

.works__text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}


/* Clients */

.clients {
    display: flex;
    flex-wrap: wrap; /*перенос элементов на новую строку*/
    margin-top: 70px;
}

.clients__item {
    margin-bottom: 60px;
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
}

.clients__photo {
    position: absolute;
    width: 110px;
    height: 110px;

    border-radius: 50%;
    top: 0;
    left: 40px;
    z-index: 1;

}

.clients__name {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.clients__prof {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #333;
}

.clients__text {
    font-size: 15px;
    color: #999;
}

.clients__text:before {
    margin: 15px 0;
    display: block;
    content: "";
    width: 60px;
    height: 3px;

    background-color: #f38181;
}


/* Blog */

.blog {
    display: flex;
    justify-content: space-between;
}

.blog__item {
    width: 31%;
}

.blog__header {
    position: relative;
    margin-bottom: 14px;
}

.blog__photo {
    display: block;

    max-width: 100%;
    height: auto;
}

.blog__date {
    padding: 10px 20px;
    background-color: #95e1d3;

    font-style: italic;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    text-align: center;


    position: absolute;

    left: -10px;
    bottom: 10px;
    z-index: 1;
}

.blog__date--day {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    font-style: normal;
}

.blog__content {
    margin-bottom: 14px;
}

.blog__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.blog__title a {
    color: inherit; /*цвет ссылки будет такой же как у шрифта у title*/
    text-decoration: none;
}

.blog__title a:hover {
    text-decoration: underline;
}

.blog__text {
    font-size: 15px;
    color: #999;
}

.blog__footer {
    padding-top: 14px;
    border-top: 1px solid #e5e5e5;
    color: #999;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
}

.blog--stat__item {
    display: inline-block;
    vertical-align: top;
    
}